* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --page-padding: 1rem 2rem;
}

:root {
    --body-background: white;
    --nav-background-color: #20232a;
    --nav-title-color: #dedede;
    --nav-p-color: #ffffff;
    --nav-button-color: #dedede;
    --heading-color: #282c34;
    --p-color: #101010;
    --sub-p-color: #6d6d6d;
    --image-border: 1px solid black;
    --a-color: #0734de;
}

[data-theme="dark"] {
    --body-background: #181818;
    --nav-title-color: #efefef;
    --nav-background-color: #272727;
    --nav-button-color: rgb(180, 136, 245);
    --p-color: #efefef;
    --sub-p-color: #6d6d6d;
    --image-border: 1px solid transparent;
    --a-color: rgb(180, 136, 245);
}

html {
    background-color: var(--body-background);
}

nav {
    background-color: var(--nav-background-color);
    padding: var(--page-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 1.4rem;
    color: var(--nav-title-color);;
}

.changer {
    color: var(--nav-button-color);
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all .1s ease-in-out;
}

.changer:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--nav-background-color);
    background-color: var(--nav-button-color);
}

main {
    margin-top: 2rem;
    padding: var(--page-padding);
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

.info {
    flex: 1 0 100%;
    display: flex;
    flex-flow: row nowrap;
}

.info picture img {
    width: 95px;
    height: 100px;
    border-radius: 50%;
    border: var(--image-border);
}

.desc {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.5rem;
}

.name {
    flex: 1 0 100%;
    color: var(--p-color);
    font-size: 1.5rem;
}

.sub {
    flex: 1 0 100%;
    color: var(--sub-p-color);
}

.info .desc img {
    width: 20px;
    height: 20px;

}

.desc p:not(.name):not(.sub) {
    color: var(--sub-p-color);
}

.links {
    color: var(--a-color);
    display: inline;
}

.articles {
    flex: 1 0 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5rem;
}

.card {
    display: inline-flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding-bottom: 3rem;
}

.card * {
    padding: .5rem 0;
}